@font-face {
  font-family: Inter;
  src: url('./fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
}

:root {
  --background: #F5FBFC;
  --foreground: #546285;
  --foreground-dark: #08090A;
  --pure-white: #FFFFFF;
  --primary: #35B8BE;
}

#root {
  width: 100dvw;
}

html,
body {
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--pure-white);
}

* {
  font-family: Inter, serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
