.categoryContainer {
    display: flex;
    gap: 1.875rem;
    margin-bottom: 2.5rem;

    & > button {
        position: relative;
        padding: 1rem 2.875rem;
        color: var(--foreground-dark);
        cursor: pointer;
        background: none;
        outline: 0.063rem solid color-mix(in srgb, #617283 20%, transparent);
        border: none;
        border-radius: 0.375rem;

        &.active {
            color: var(--pure-white);
            background: var(--primary);

            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: var(--pure-white);
                content: url('/assets/category-wave.svg');
            }
        }
    }
}
